In [1]:
import pandas as pd
import numpy as np
import statistics as stats
import matplotlib.pyplot as plt
import seaborn as sns 
import pymysql
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
from getpass import getpass

In [2]:
pd.set_option('display.max_columns', None)

## 1. CLEANING DATASET AMAZON SALES 2020-21

In [3]:
df_sales = pd.read_csv('Amazon Sales FY2020-21.csv')

/var/folders/75/lxv2pt816y3g7mh_b0zy07mw0000gn/T/ipykernel_72454/4064969228.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df_sales = pd.read_csv('Amazon Sales FY2020-21.csv')

In [4]:
df_sales.head()

,order_id,order_date,status,item_id,sku,qty_ordered,price,value,discount_amount,total,category,payment_method,bi_st,cust_id,year,month,ref_num,Name Prefix,First Name,Middle Initial,Last Name,Gender,age,full_name,E Mail,Sign in date,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Discount_Percent
0,100354678,01/10/2020,received,574772,oasis_Oasis-064-36,21,89.9,1798.0,0.0,1798.0,Men's Fashion,cod,Valid,60124,2020,Oct-20,987867,Drs.,Jani,W,Titus,F,43,"Titus, Jani",jani.titus@gmail.com,8/22/2006,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
1,100354678,01/10/2020,received,574774,Fantastic_FT-48,11,19.0,190.0,0.0,190.0,Men's Fashion,cod,Valid,60124,2020,Oct-20,987867,Drs.,Jani,W,Titus,F,43,"Titus, Jani",jani.titus@gmail.com,8/22/2006,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
2,100354680,01/10/2020,complete,574777,mdeal_DMC-610-8,9,149.9,1199.2,0.0,1199.2,Men's Fashion,cod,Net,60124,2020,Oct-20,987867,Drs.,Jani,W,Titus,F,43,"Titus, Jani",jani.titus@gmail.com,8/22/2006,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
3,100354680,01/10/2020,complete,574779,oasis_Oasis-061-36,9,79.9,639.2,0.0,639.2,Men's Fashion,cod,Net,60124,2020,Oct-20,987867,Drs.,Jani,W,Titus,F,43,"Titus, Jani",jani.titus@gmail.com,8/22/2006,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
4,100367357,13/11/2020,received,595185,MEFNAR59C38B6CA08CD,2,99.9,99.9,0.0,99.9,Men's Fashion,cod,Valid,60124,2020,Nov-20,987867,Drs.,Jani,W,Titus,F,43,"Titus, Jani",jani.titus@gmail.com,8/22/2006,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0

In [5]:
def clean_sales(df):
    

    # 1.change column names to lower case and spaces for _
    columns = []
    for col in df.columns: 
        if ' ' in col:
            col = col.replace(' ','_')
            columns.append(col.lower())
        else:
            columns.append(col.lower())
            
    df.columns = columns
    
    
    # 2. Change order_date column to datetime format.

    df['order_date'] = pd.to_datetime(df['order_date'])
    df['month_order_date'] = pd.DatetimeIndex(df['order_date']).month
    df['day_week_order_date'] = df['order_date'].dt.day_of_week
    df['year'] = df['order_date'].dt.year
    
    # 3. Drop columns containing repeated or unhelpful information for our analysis
    
    
    df = df.drop(columns = ['order_date','month', 'sku','bi_st','sign_in_date','user_name'],axis=1)
    
    # 4. Modify zip values to add the zeros missed

    test = []
    for i in df['zip']:
        i = str(i)
        if len(i) == 4:
            test.append("0"+i)
        elif len(i) == 3:
            test.append("00"+i)
        elif len(i) == 2:
            test.append("000"+i)
        else:
            test.append(i)
            
    df['zip'] = test 
        
    return df

In [6]:
sales = clean_sales(df_sales)
sales

/var/folders/75/lxv2pt816y3g7mh_b0zy07mw0000gn/T/ipykernel_72454/3595721273.py:18: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df['order_date'] = pd.to_datetime(df['order_date'])

,order_id,status,item_id,qty_ordered,price,value,discount_amount,total,category,payment_method,cust_id,year,ref_num,name_prefix,first_name,middle_initial,last_name,gender,age,full_name,e_mail,phone_no._,place_name,county,city,state,zip,region,discount_percent,month_order_date,day_week_order_date
0,100354678,received,574772,21,89.9,1798.0,0.0,1798.0,Men's Fashion,cod,60124,2020,987867,Drs.,Jani,W,Titus,F,43,"Titus, Jani",jani.titus@gmail.com,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,0.0,1,4
1,100354678,received,574774,11,19.0,190.0,0.0,190.0,Men's Fashion,cod,60124,2020,987867,Drs.,Jani,W,Titus,F,43,"Titus, Jani",jani.titus@gmail.com,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,0.0,1,4
2,100354680,complete,574777,9,149.9,1199.2,0.0,1199.2,Men's Fashion,cod,60124,2020,987867,Drs.,Jani,W,Titus,F,43,"Titus, Jani",jani.titus@gmail.com,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,0.0,1,4
3,100354680,complete,574779,9,79.9,639.2,0.0,639.2,Men's Fashion,cod,60124,2020,987867,Drs.,Jani,W,Titus,F,43,"Titus, Jani",jani.titus@gmail.com,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,0.0,1,4
4,100367357,received,595185,2,99.9,99.9,0.0,99.9,Men's Fashion,cod,60124,2020,987867,Drs.,Jani,W,Titus,F,43,"Titus, Jani",jani.titus@gmail.com,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,0.0,11,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286387,100562365,paid,905179,2,4419.9,4419.9,0.0,4419.9,Appliances,Easypay,115323,2021,967309,Prof.,Brady,K,Latham,M,51,"Latham, Brady",brady.latham@gmail.com,212-772-7404,Rushville,Yates,Rushville,NY,14544,Northeast,0.0,9,3
286388,100562376,cod,905191,2,39.9,39.9,0.0,39.9,Men's Fashion,cod,115324,2021,335358,Prof.,Bennie,M,Brunetti,M,52,"Brunetti, Bennie",bennie.brunetti@gmail.com,229-817-9451,Lawrenceville,Gwinnett,Lawrenceville,GA,30044,South,0.0,9,3
286389,100562383,cod,905200,2,40.0,40.0,0.0,40.0,Women's Fashion,cod,115325,2021,675384,Mrs.,Francesca,N,Giusti,F,38,"Giusti, Francesca",francesca.giusti@btinternet.com,252-414-8396,Durham,Durham,Durham,NC,27701,South,0.0,9,3
286390,100562384,cod,905202,2,49.9,49.9,0.0,49.9,Women's Fashion,cod,115325,2021,675384,Mrs.,Francesca,N,Giusti,F,38,"Giusti, Francesca",francesca.giusti@btinternet.com,252-414-8396,Durham,Durham,Durham,NC,27701,South,0.0,9,3
286391,100562386,processing,905205,2,3559.9,3559.9,0.0,3559.9,Mobiles & Tablets,bankalfalah,115326,2021,489455,Mr.,Rolf,E,Schlosser,M,28,"Schlosser, Rolf",rolf.schlosser@comcast.net,423-276-2699,Knoxville,Knox,Knoxville,TN,37920,South,0.0,9,3

## 2. CLEANING DATASET CENSUS URBAN AREAS U.S. 2020

In [7]:
df_urban = pd.read_csv('all 2020 Census Urban Areas for the U.S..csv', sep=';')
df_urban.head()

,ZIP,NAME,POP,HOUSING,AREALAND,AREALANDSQMI,POPDEN,Unnamed: 7
0,37,"Abbeville, LA",18.078,8.521,28.823.510,"11,13","1.624,43",NaN
1,64,"Abbeville, SC",4.940,2.453,12.815.034,"4,95","998,40",NaN
2,145,"Aberdeen, SD",27.982,13.246,35.989.073,"13,90","2.013,75",NaN
3,172,"Aberdeen, WA",26.603,11.561,28.416.189,"10,97","2.424,73",NaN
4,253,"Abilene, KS",6.605,3.216,9.426.821,"3,64","1.814,70",NaN

In [8]:
def clean_urban(df):

    # 1.change column names to lower case and spaces for _
    
    columns = []
    for col in df.columns: 
        if ' ' in col:
            col = col.replace(' ','_')
            columns.append(col.lower())
        else:
            columns.append(col.lower())
            
    df.columns = columns
    
    # 2. Drop columns containing repeated or unhelpful information for our analysis
       
    df = df.drop(columns = ['unnamed:_7','arealandsqmi', 'arealand','housing'],axis=1)
    
    # 3. Modify zip values to add the zeros missed

    test = []
    for i in df['zip']:
        i = str(i)
        if len(i) == 4:
            test.append("0"+i)
        elif len(i) == 3:
            test.append("00"+i)
        elif len(i) == 2:
            test.append("000"+i)
        else:
            test.append(i)
            
    df['zip'] = test 
    
    
    return df

In [9]:
urban = clean_urban(df_urban)

In [10]:
urban

        zip                name       pop      popden
0     00037       Abbeville, LA   18.078    1.624,43
1     00064       Abbeville, SC    4.940      998,40
2     00145        Aberdeen, SD   27.982    2.013,75
3     00172        Aberdeen, WA   26.603    2.424,73
4     00253         Abilene, KS    6.605    1.814,70
...     ...                 ...       ...         ...
2639  98074      Zanesville, OH   42.301    1.494,57
2640  98101  Zapata--Medina, TX   10.942    2.205,89
2641  98129         Zebulon, NC    8.158    1.334,69
2642  98182     Zephyrhills, FL   55.133    1.616,61
2643  98209       Zimmerman, MN    6.360       1.954

[2644 rows x 4 columns]

### Creating and exporting to SQL database

In [11]:
password = getpass()

········

In [12]:

engine = sqlalchemy.create_engine('mysql+pymysql://root:'+password+'@localhost/amazon_project')

In [13]:
if not database_exists(engine.url):
    create_database(engine.url)

In [14]:
sales.to_sql('sales', con = engine, if_exists = 'replace', index = False, method = None)

286392

In [15]:
urban.to_sql('urban', con = engine, if_exists = 'replace', index = False, method = None)

2644