In [8]:
import pandas as pd
import numpy as np
import statistics as stats
import matplotlib.pyplot as plt
import seaborn as sns 
import pymysql
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
from getpass import getpass

In [9]:
pd.set_option('display.max_columns', None)

# 1. Establish a connection between Python and amazon_project database

In [10]:
password = getpass()

········

In [11]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/amazon_project'
engine = create_engine(connection_string)

In [101]:
sales_rural_urban = pd.read_sql_query("SELECT sales.zip, city_rural.rural_urban, order_id, sales.status, item_id, qty_ordered, price, sales.value, discount_amount, discount_percent, total, category, payment_method,month_order_date, day_week_order_date, sales.year, ref_num, cust_id, name_prefix, first_name, middle_initial, last_name, gender, age, e_mail, place_name, sales.county, sales.city, sales.state, region FROM sales LEFT JOIN city_rural ON sales.zip = city_rural.zip", engine)
sales_rural_urban .head()

,zip,rural_urban,order_id,status,item_id,qty_ordered,price,value,discount_amount,discount_percent,total,category,payment_method,month_order_date,day_week_order_date,year,ref_num,cust_id,name_prefix,first_name,middle_initial,last_name,gender,age,e_mail,place_name,county,city,state,region
0,02889,urban,100354687,order_refunded,574790,2,2900.0,2900.0,0.0,0.0,2900.0,Home & Living,Payaxis,1,4,2020,536652,60127,Dr.,Bernard,K,Dewald,M,52,bernard.dewald@hotmail.co.uk,Warwick,Kent,Warwick,RI,Northeast
1,02889,urban,100356322,canceled,577804,2,1000.0,1000.0,0.0,0.0,1000.0,Mobiles & Tablets,Payaxis,9,3,2020,536652,60127,Dr.,Bernard,K,Dewald,M,52,bernard.dewald@hotmail.co.uk,Warwick,Kent,Warwick,RI,Northeast
2,08076,urban,100354701,complete,574814,4,34.5,103.5,0.0,0.0,103.5,Appliances,cod,1,4,2020,716936,52163,Mr.,Florentino,J,Stough,M,60,florentino.stough@gmail.com,Riverton,Burlington,Riverton,NJ,Northeast
3,03907,rural,100354729,order_refunded,574882,3,54.0,108.0,0.0,0.0,108.0,Mobiles & Tablets,cod,1,4,2020,732968,60140,Hon.,Horacio,B,Cyphers,M,67,horacio.cyphers@hotmail.co.uk,Ogunquit,York,Ogunquit,ME,Northeast
4,05846,rural,100354759,received,574938,2,45.5,45.5,0.0,0.0,45.5,Mobiles & Tablets,cod,1,4,2020,303474,60155,Ms.,Fran,D,Fleet,F,37,fran.fleet@ibm.com,Island Pond,Essex,Island Pond,VT,Northeast

In [102]:
display(sales_rural_urban.shape)

(286392, 30)

# 2. Dealing with the nans

In [104]:
#After join both tables we have some nans we have to deal with

sales_rural_urban.isna().sum()

zip                        0
rural_urban            16515
order_id                   0
status                     0
item_id                    0
qty_ordered                0
price                      0
value                      0
discount_amount            0
discount_percent           0
total                      0
category                   0
payment_method             0
month_order_date           0
day_week_order_date        0
year                       0
ref_num                    0
cust_id                    0
name_prefix                0
first_name                 0
middle_initial             0
last_name                  0
gender                     0
age                        0
e_mail                     0
place_name                 0
county                     0
city                       0
state                      0
region                     0
dtype: int64

In [105]:
#exploratory analysis to see the problem

sales_rural_urban[sales_rural_urban['rural_urban'].isna() == True]

,zip,rural_urban,order_id,status,item_id,qty_ordered,price,value,discount_amount,discount_percent,total,category,payment_method,month_order_date,day_week_order_date,year,ref_num,cust_id,name_prefix,first_name,middle_initial,last_name,gender,age,e_mail,place_name,county,city,state,region
31646,42632,None,100354695,order_refunded,574800,2,29.9,29.9,0.0,0.0,29.9,Men's Fashion,cod,1,4,2020,313357,60129,Mr.,Robbie,U,Dinapoli,M,43,robbie.dinapoli@yahoo.co.uk,Mill Springs,Wayne,Mill Springs,KY,South
31673,20332,None,100354803,complete,575014,2,150.0,150.0,0.0,0.0,150.0,Health & Sports,cod,1,4,2020,709878,60172,Mr.,Brad,S,Mizelle,M,37,brad.mizelle@gmail.com,Washington,District of Columbia,Washington,DC,South
31793,75387,None,100354982,canceled,575384,3,135.0,270.0,0.0,0.0,270.0,Women's Fashion,cod,2,0,2020,329901,60226,Hon.,Alec,Y,Battles,M,55,alec.battles@shaw.ca,Dallas,Dallas,Dallas,TX,South
31794,75387,None,100354983,complete,575385,2,135.0,135.0,0.0,0.0,135.0,Women's Fashion,cod,2,0,2020,329901,60226,Hon.,Alec,Y,Battles,M,55,alec.battles@shaw.ca,Dallas,Dallas,Dallas,TX,South
31795,75387,None,100418694,canceled,682819,2,69.9,69.9,0.0,0.0,69.9,Women's Fashion,Easypay,12,6,2020,329901,60226,Hon.,Alec,Y,Battles,M,55,alec.battles@shaw.ca,Dallas,Dallas,Dallas,TX,South
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286343,37237,None,100561726,canceled,903958,2,87.5,87.5,0.0,0.0,87.5,Appliances,bankalfalah,9,6,2021,389215,115138,Ms.,Deon,C,Mungo,F,20,deon.mungo@gmail.com,Nashville,Davidson,Nashville,TN,South
286372,04081,None,100562147,holded,904773,2,12999.9,12999.9,0.0,0.0,12999.9,Mobiles & Tablets,bankalfalah,9,2,2021,654834,115255,Mr.,Wm,F,Hagerty,M,37,wm.hagerty@hotmail.com,South Waterford,Oxford,South Waterford,ME,Northeast
286373,04081,None,100562154,canceled,904784,2,7089.4,7089.4,0.0,0.0,7089.4,Appliances,bankalfalah,9,2,2021,654834,115255,Mr.,Wm,F,Hagerty,M,37,wm.hagerty@hotmail.com,South Waterford,Oxford,South Waterford,ME,Northeast
286374,23530,None,100562148,received,904774,2,168.5,168.5,0.0,0.0,168.5,Appliances,bankalfalah,9,2,2021,309024,115256,Mr.,Ernesto,A,Fales,M,52,ernesto.fales@yahoo.com,Norfolk,Norfolk (city),Norfolk,VA,South
286375,23530,None,100562148,received,904775,2,1284.2,1284.2,0.0,0.0,1284.2,Computing,bankalfalah,9,2,2021,309024,115256,Mr.,Ernesto,A,Fales,M,52,ernesto.fales@yahoo.com,Norfolk,Norfolk (city),Norfolk,VA,South

In [106]:
checking = sales_rural_urban[sales_rural_urban['rural_urban'].isna()==True]

In [107]:
display(checking.head())
display(checking.shape)

,zip,rural_urban,order_id,status,item_id,qty_ordered,price,value,discount_amount,discount_percent,total,category,payment_method,month_order_date,day_week_order_date,year,ref_num,cust_id,name_prefix,first_name,middle_initial,last_name,gender,age,e_mail,place_name,county,city,state,region
31646,42632,None,100354695,order_refunded,574800,2,29.9,29.9,0.0,0.0,29.9,Men's Fashion,cod,1,4,2020,313357,60129,Mr.,Robbie,U,Dinapoli,M,43,robbie.dinapoli@yahoo.co.uk,Mill Springs,Wayne,Mill Springs,KY,South
31673,20332,None,100354803,complete,575014,2,150.0,150.0,0.0,0.0,150.0,Health & Sports,cod,1,4,2020,709878,60172,Mr.,Brad,S,Mizelle,M,37,brad.mizelle@gmail.com,Washington,District of Columbia,Washington,DC,South
31793,75387,None,100354982,canceled,575384,3,135.0,270.0,0.0,0.0,270.0,Women's Fashion,cod,2,0,2020,329901,60226,Hon.,Alec,Y,Battles,M,55,alec.battles@shaw.ca,Dallas,Dallas,Dallas,TX,South
31794,75387,None,100354983,complete,575385,2,135.0,135.0,0.0,0.0,135.0,Women's Fashion,cod,2,0,2020,329901,60226,Hon.,Alec,Y,Battles,M,55,alec.battles@shaw.ca,Dallas,Dallas,Dallas,TX,South
31795,75387,None,100418694,canceled,682819,2,69.9,69.9,0.0,0.0,69.9,Women's Fashion,Easypay,12,6,2020,329901,60226,Hon.,Alec,Y,Battles,M,55,alec.battles@shaw.ca,Dallas,Dallas,Dallas,TX,South

(16515, 30)

In [108]:
# We can see that we have 16515 with none values. So we are going to replace them with the mode for each state.

In [109]:
# see all the states with none values

checking['state'].unique()

array(['KY', 'DC', 'TX', 'CA', 'OH', 'WV', 'AL', 'NY', 'IL', 'OR', 'ME',
       'MO', 'MN', 'NM', 'CO', 'TN', 'CT', 'NC', 'VA', 'MA', 'PA', 'ID',
       'ND', 'GA', 'WI', 'NE', 'IA', 'LA', 'MD', 'FL', 'WA', 'SD', 'NJ',
       'AR', 'WY', 'IN', 'SC', 'KS', 'NV', 'MT', 'OK', 'AZ', 'MI', 'MS',
       'NH', 'UT', 'AK', 'HI', 'VT', 'RI', 'DE'], dtype=object)

In [110]:
# Extraxting the mode of each state

stateavg = []

for i in sales_rural_urban['state'].unique():
    stateavg.append(sales_rural_urban.loc[sales_rural_urban['state']== i ]['rural_urban'].value_counts().index[0])

In [111]:
stateavg

['urban',
 'urban',
 'urban',
 'rural',
 'urban',
 'urban',
 'urban',
 'urban',
 'urban',
 'urban',
 'urban',
 'urban',
 'urban',
 'urban',
 'urban',
 'urban',
 'urban',
 'urban',
 'urban',
 'urban',
 'urban',
 'urban',
 'rural',
 'urban',
 'urban',
 'urban',
 'rural',
 'urban',
 'urban',
 'urban',
 'rural',
 'urban',
 'urban',
 'urban',
 'urban',
 'urban',
 'urban',
 'urban',
 'urban',
 'rural',
 'urban',
 'urban',
 'urban',
 'urban',
 'urban',
 'urban',
 'urban',
 'rural',
 'urban',
 'urban',
 'urban']

In [112]:
# Creating a dictionary with state names as the keys and the mode as values

stateurbdict = dict(zip(sales_rural_urban['state'].unique(),stateavg))

In [113]:
sales_rural_urban['state'][0]

'RI'

In [114]:
rurb = []
for i in range(len(sales_rural_urban)): #loop over index of the entire df
    if sales_rural_urban['rural_urban'][i] == None: #if the value is None in 'rural_urban'
        rurb.append(stateurbdict[sales_rural_urban['state'][i]]) #then append the value return by the key, accessed in the state column
    else:
        rurb.append(sales_rural_urban['rural_urban'][i]) #otherwise append the existing value as not None

sales_rural_urban['rural_urban'] = rurb #apply the new list as the column

In [115]:
sales_rural_urban.isna().sum()

#Nones are gone!

zip                    0
rural_urban            0
order_id               0
status                 0
item_id                0
qty_ordered            0
price                  0
value                  0
discount_amount        0
discount_percent       0
total                  0
category               0
payment_method         0
month_order_date       0
day_week_order_date    0
year                   0
ref_num                0
cust_id                0
name_prefix            0
first_name             0
middle_initial         0
last_name              0
gender                 0
age                    0
e_mail                 0
place_name             0
county                 0
city                   0
state                  0
region                 0
dtype: int64

In [116]:
sales_rural_urban.loc[[31675]]

#previous None values have been replaced by the mode of the state

,zip,rural_urban,order_id,status,item_id,qty_ordered,price,value,discount_amount,discount_percent,total,category,payment_method,month_order_date,day_week_order_date,year,ref_num,cust_id,name_prefix,first_name,middle_initial,last_name,gender,age,e_mail,place_name,county,city,state,region
31675,77033,urban,100354838,complete,575078,2,87.4,87.4,0.0,0.0,87.4,Home & Living,cod,1,4,2020,291901,13798,Prof.,Reynaldo,R,Pando,M,26,reynaldo.pando@aol.com,Houston,Harris,Houston,TX,South

# 3. Save the cleaned and joined dataframes as a new one to use it in Taleau

In [118]:
sales_rural_urban.to_csv('sales_rural_urban.csv',index=False)

# 4. Exploring the data