## Import Libraries & Load Data Set

In [1]:
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('sales_rural_urban.csv')
data.head()

/var/folders/75/lxv2pt816y3g7mh_b0zy07mw0000gn/T/ipykernel_72009/2647096559.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('sales_rural_urban.csv')

,zip,rural_urban,order_id,status,item_id,qty_ordered,price,value,discount_amount,discount_percent,...,middle_initial,last_name,gender,age,e_mail,place_name,county,city,state,region
0,2889,urban,100354687,order_refunded,574790,2,2900.0,2900.0,0.0,0.0,...,K,Dewald,M,52,bernard.dewald@hotmail.co.uk,Warwick,Kent,Warwick,RI,Northeast
1,2889,urban,100356322,canceled,577804,2,1000.0,1000.0,0.0,0.0,...,K,Dewald,M,52,bernard.dewald@hotmail.co.uk,Warwick,Kent,Warwick,RI,Northeast
2,8076,urban,100354701,complete,574814,4,34.5,103.5,0.0,0.0,...,J,Stough,M,60,florentino.stough@gmail.com,Riverton,Burlington,Riverton,NJ,Northeast
3,3907,rural,100354729,order_refunded,574882,3,54.0,108.0,0.0,0.0,...,B,Cyphers,M,67,horacio.cyphers@hotmail.co.uk,Ogunquit,York,Ogunquit,ME,Northeast
4,5846,rural,100354759,received,574938,2,45.5,45.5,0.0,0.0,...,D,Fleet,F,37,fran.fleet@ibm.com,Island Pond,Essex,Island Pond,VT,Northeast

## Set The Hypothesis

Before we can do our tests, we have to understand what the hypotheses represent:

- H0 - There is no difference in the spend between consumers in their 30s and 40s in rural areas with the ones at the city

- H1 - There is a significant difference in the spend between consumers in their 30s and 40s in rural areas with the ones at the city

The specified direction here refers to the nature of a **One-Tailed** Test

Either:
- Upper (Right Tailed) Test : H1 is greater than H0
or
- Lower (Left Tailed) Test : H1 is less than H0
------
***Significance level = 0.05***

**One Tailed** \
Higher - H1 is **Greater than** H0 by ***0.05*** \
Lower - H1 is **Less than** H0 by ***0.05***

## Choose Significance / Confidence Level

This is not something you have to programme, but: \

- Typically non-health related Significance levels would be a difference of **0.05**
- More imperative hypotheses would have a significance level closer to **0.02**

## Sample

We only need to sample an array here, as we will need to calculate it directly.

In [3]:
#Sample 500, random state costumers from rural areas between 30 and 50 years old. This will return a list of total spend from our df.

rural_sample = round(data[(data['rural_urban']=='rural') & (data['age']>29) & (data['age']<50)]['total'],2).sample(500, random_state = 42)
rural_sample.head()

16588       0.0
24680     109.9
8636       49.8
281698     72.0
124542    200.0
Name: total, dtype: float64

In [4]:
print('The AVG spend of customers in urban areas between 30 and 50 is', round(data[(data['rural_urban']=='urban') & (data['age']>29) & (data['age']<50)]['total'].mean(),2))

The AVG spend of customers in urban areas between 30 and 50 is 812.25

## Compute Statistic

Here we have checked if total spend by costumers from rural areas is different from 812.25 usd by sampling 500 costumers from rural areas and requiring a 5% significance.

In [5]:
#compute statistics and p-value. Here we are using a one sample t-test.

st.ttest_1samp(rural_sample,812.25)

TtestResult(statistic=2.437953337128637, pvalue=0.015118669918280116, df=499)

## Get P-Value

In [6]:
# Perform one-sample t-test
t_statistic, p_value = st.ttest_1samp(rural_sample,812.25)


#for the single tailed experiment
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: 2.437953337128637
P-value: 0.015118669918280116

## Interpret Result

In [7]:
# Check if the result is statistically significant (common threshold of 0.05)
if p_value < 0.05:
    print("The result is statistically significant: Reject null hypothesis.")
else:
    print("The result is not statistically significant: Fail to reject null hypothesis.")

The result is statistically significant: Reject null hypothesis.